* {
  margin: 0;
  padding: 0;
}
.header_part {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 0 rgb(0 0 0 / 12%), 3px 4px 8px 0px rgb(0 0 0 / 11%);
  color: #fff;
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 10px 0;
  height: 120px;
}
.header_part_contain {
  display: flex;
  justify-content: space-around;
}
.logo_part_title {
  font-family: 'Montserrat';
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}
.logo_part_txt {
  color: #c2c2c2;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: -5px;
  letter-spacing: 0.5px;
}
.menu_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.in_menu_contain {
  display: flex;
}
.in_menu_contain li {
  list-style: none;
  margin-right: 25px;
}
.in_menu_contain li a {
  font-size: 19px;
  line-height: 24px;
  color: #1972c6;
  text-decoration: none;
  padding: 8px 10px;
}
.active {
  color: #ed2d2d!important;
}
.in_menu_contain li a:hover {
  color: #ed2d2d;
}
.fa-chevron-down {
  font-size: 13px;
  margin-left: 7px;
}
.user {
  padding: 15px;
  border: none;
  background-color: transparent;
}
.user_btn {
  display: flex;
}
.fa-user {
  font-size: 16px;
  color: #3D88CF;
}
.fa-user:hover {
  color: #dc3545;
}
.main {
  position: relative;
  width: 100%;
  top: 99px;
}
.container {
  width: 100%!important;
  padding: 0!important;
}
.img_part {
  margin-bottom: 50px;
}
.img_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px!important;
  line-height: 1.35;
  color: #ffffff;
  text-align: center;
  padding: 0 88px;
}
.in_img_title {
  font-size: 60px;
  font-weight: 600;
}
.in_img_title_2 {
  font-size: 57px;
  font-weight: 600;
}
.left_arrow {
  padding: 39px 13px;;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  left: 11%!important;
  position: absolute;
  bottom: 28%;
  width: 51px;
}
.rigth_arrow {
  padding: 39px 13px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  right: -25px;
  position: absolute;
  bottom: 28%;
  width: 51px;
}
.fa-chevron-left {
  font-size: 26px;
}
.fa-chevron-right {
  font-size: 26px;
}
.small_img {
  width: 174px;
  height: 78px;
  position: absolute;
  left: 0;
  top: 40%;
  animation-name: move_img;
  animation-duration: 4s;
  animation-delay: 2s;
}
.small_img img {
  width: 100%;
  height: 100%;
}
.small_img_rigth {
  width: 174px;
  height: 78px;
  position: absolute;
  right: 0;
  top: 40%;
  opacity: 1!important;
}
.small_img_rigth img {
  width: 100%;
  height: 100%;
}
.small_img {
  visibility: hidden;
}
.carousel-control:hover+.small_img {
  display: block;
}
.small_img_rigth {
  display: none;
}
.more_info {
  width: 100%;
  position: absolute;
  top: 8%;
  display: flex;
  justify-content: center;
}
.loc_part {
  width: 100%;
  padding: 20px 10px;
  font-size: 14px;
  color: #9b9b9b;
  border: none;
}
.location_part {
  width: 340px;
}
.form_part {
  width: 190px;
}
.selct_txt {
  width: 100%;
  padding: 21px 2px; 
  border: none;
}
.search_part {
  width: 14.4%;
}
.search_btn {
  width: 100%;
  font-weight: 700;
  padding: 18px 33px;
  font-size: 17px;
  background-color: #ed2d2d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.proparty {
  margin-right: 15px;
}
.location_part {
  margin-right: 15px;
}
.dropdown_menu {
  padding: 10px 0;
  position: absolute;
  top: 86px; 
  transition: .15s ease-in-out; 
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 31%);
  content: "";  
}
.in_dropdown_menu li a {
  color: #9b9b9b;
}
.in_dropdown_menu li a:hover {
  color: #ffffff!important;
}
.in_dropdown_menu li {
  padding: 7px 17px;
  margin: 0;
}
.in_dropdown_menu li:hover {
  background-color: #1972c6;  
}
.dropdown_menu {
  display: none;
}
.with_hover:hover .dropdown_menu {
  display: block;
} 
.hover_menu {
  padding: 45px 0;
}
.pages_contain {
  position: absolute;
  right: -541%;
  background-color: #ffffff;
  display: flex;
  padding: 30px 40px;
  width: 1035px;
  border: 1px solid #d7d7d7;
  margin-top: 47px;
  display: none;
}
.firts_pages {
   width: 280px;
   margin-right: 20px;
}
.pages_hover {
  position: relative;
}
.page_title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.all_pages {
  padding: 50px 0;
}
.all_pages:hover .pages_contain {
  display: block;
  display: flex;
}
.user_btn {
  position: relative;
}
.registr_part {
  position: absolute;
  width: 370px;
  background-color: #ffffff;
  padding: 43px 30px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 31%);
  position: fixed;
  right: 7%;
  top: 100px;
  transition: 0.5s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  
}
.login_title {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.info_register {
  margin-top: 30px;
}
.name_input {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 12px 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #b7b7b7;
  margin-bottom: 20px;
  transition: .3s ease-in-out;
  border: 1px solid #cccccc;
}
.Remember_txt {
  color: #000;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.login {
  width: 100%;
  color: #ffffff;
  background-color: #ed2d2d;
  font-weight: 700;
  padding: 13px 38px;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}
.register_btn {
  width: 100%;
  color: #ffffff;
  background-color: #1972c6;;
  font-weight: 700;
  font-size: 17px;
  padding: 13px 29px;
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}
.login_reg_btn {
  display: flex;
}
.btn_part {
  width: 128px;
  margin-right: 20px;
}
.forgot {
  font-size: 17px;
  color: #000;
  margin-top: 36px;
  font-weight: 300;
}
.forgot a {
  color: #f37373;
}
.forgot a:hover {
  color: #dc3545;
  text-decoration: none;
}
.check_input {
  margin-bottom: 20px;
}
.registr_part {
  display: none;
}
.recommended_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin: 75px 0;
}
.room_pricing_contain {
  max-width: 1200px;
  margin: auto;
}
.room_photos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.new-port-fix {
  width: 33.3%;
  height: 270px;
  position: relative;
  margin-right: 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: -30px;
  background-size: 108% 100%;
  transition: 0.8s all ease;
}
.new_port {
  background-image: url(../images/room1.jpg);
}
.new_port_2 {
 background-image: url(../images/room2.jpg);
}
.new_port_3 {
  background-image: url(../images/room3.jpg);
}
.new_port_4 {
  background-image: url(../images/room4.jpg);
}
.new_port_5 {
  background-image: url(../images/room5.jpg);
}
.new_port_6 {
  background-image: url(../images/room6.jpg);
}
.new_port_7 {
  background-image: url(../images/room7.jpg);
}
.new_port_8 {
  background-image: url(../images/room8.jpg);
}
.new_port_9 {
  background-image: url(../images/room9.jpg);
}
.new-port-fix:hover {
  background-position-x: 0px;
  transition: 0.8s all ease;
 }
.new-port-fix:hover .thumb_overlay {
  opacity: 1;
}
.newport_img {
  width: 100%;
  height: 100%;  
}
.about_room {
  position: absolute;
  bottom: -80px;
}
.pricing {
  position: absolute;
  padding: 9px 12px;
  color: #ffffff;
  background: #ed2d2d; 
  right: 0;
  top: 64%;
}
.tag {
  font: 700 24px/1 "Ubuntu", sans-serif;
}
.small_day {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: .5s all ease;
}
.hover_txt {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 20px;
  box-sizing: border-box;
  top: 0;
  transition: .5s all ease;
}
.newport_title {
  font-weight: 600;
  color: #1972c6;
  font-size: 22px;
}
.newport_title:hover {
  color: #ed2d2d;
  text-decoration: none;
}
.newport_txt {
  font-size: 15px;
}
.gif_bg_contain {
  position: relative;
}
.gif_bg_part {
  margin-bottom: 50px;
}
.in_video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.video_part {
  width: 100%;
  height: 100%;
}
.Advantages {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin: 70px 0;
}
.numbers {
  display: flex;
  justify-content: space-between;
}
.first_div {
  width: 25%;
  position: relative;
}
.in_first_div {
  width: 110px;
  height: 110px;
  margin: auto;
  position: relative;
}
.in_first_div:before {
  border: 2px solid #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: '';
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.in_first_div:hover:before {
  animation-name: rotating;
  animation-duration: 7s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.number_of_div {
  font-size: 36px;
  font-weight: 700;
  line-height: 110px;
  color: #ffffff;
}
.new_appart {
   margin-top: 50px;
   padding: 0 40px;
}
.new_appart_txt {
  line-height: 1.2;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}
@keyframes rotating{
  0%   {
    transform: rotate(45deg)
  }
  100% {
    transform: rotate(45deg)
    }
}
.service_part_container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.services_title {
  font-size: 48px;
  display: block;
  color: #000;
  font-weight: 700;
  text-align: center;
}
.service_images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bizunes_rooms {
  width: 25%;
  margin-right: 20px;
}
.vacation_rentals_all {
  background-repeat: no-repeat;
  height: 320px;
  position: relative;
  background-position-x: -30px;
  background-size: 110% 100%;
  transition: 0.8s all ease;
  box-shadow: inset 0px -100px 100px 0px rgb(0 0 0 / 45%);
}
.vacation_rentals {
  background-image: url(../images/services1.jpg);
}
.vacation_rentals_2 {
  background-image: url(../images/services2.jpg);
}
.vacation_rentals_3 {
  background-image: url(../images/services3.jpg);
}
.vacation_rentals_4 {
  background-image: url(../images/services4.jpg);
}
.up_title {
  font-size: 22px;
  color: #ffffff;
  padding: 0 77px;
  line-height: 1.2;
}
.up_down_div {
  position: absolute;
  left: 0;
  right: 0;
  top: 71%;
  text-align: center;
  transition: .5s all ease;
}
.learn_more {
  margin-top: 30px;
  opacity: 0;
}
.learn_more_btn {
  padding: 13px 33px;
  font-size: 17px;
  font-weight: 700;
  background-color: #ed2d2d;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.learn_more_span:before {
  content: "";
  position: absolute;
  height: 0;
  width: 25%;
  z-index: -1;
  background-color: #d52828;
}
.learn_more_span:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 0;
  transition: 0.5s;
  z-index: -1;
  background-color: #d52828;
}
.bizunes_rooms:hover .learn_more {
  opacity: 1;
}
.bizunes_rooms:hover .up_down_div {
  transform: translate(0%, -48%);
  transition: .5s all ease;
}
.vacation_rentals:hover {
  background-position-x: 0px;
  transition: 0.8s all ease;
}
.vacation_rentals_2:hover {
  background-position-x: 0px;
  transition: 0.8s all ease;
}
.vacation_rentals_3:hover {
  background-position-x: 0px;
  transition: 0.8s all ease;
}
.vacation_rentals_4:hover {
  background-position-x: 0px;
  transition: 0.8s all ease;
}
.all_services {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.testimonials_part_img {
  background-image: url(../images/test_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  display: block;
}
.testimonials_part {
  margin-bottom: 50px;
}
.paralax_material {
  width: 1200px;
  margin: auto;
  padding: 40px 0;
  text-align: center;
}
.test_title {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
}
.person_img {
  width: 54px;
  height: 54px;
  margin: auto;
}
.person_img img {
  width: 100%;
  border-radius: 50%;
}
.person_name {
  color: #fff;
  margin: 10px 0;
  font-size: 16px;
}
.icon_simbol {
  line-height: 26px;
  font-size: 22px;
  color: #ffffff;
}
.icon_simbol:before {
  content: "\f10d";
  font-weight: 400;
  font-family: 'FontAwesome';
}
.user_comment {
  padding: 0 20px;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
  margin-top: 10px;
}
.persons_comment_part {
  max-width: 66%;
  margin: auto;
}
.contact_us {
  margin-bottom: 170px;
}
.contact_us_contain {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.contact_title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 50px;
}
.input-design {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 12px 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #b7b7b7;
  background-image: none;
  border-radius: 0;
  transition: .3s ease-in-out;
  border: 1px solid #cccccc;
}
.contact_inputs {
  display: flex;
}
.input_label {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.mail_label {
  padding: 0 20px;
  margin-bottom: 20px;
}
.mail_part {
  width: 100%;
}
.text_label {
  width: 100%;
}
.text_label {
  padding: 0 20px;
}
form {
  margin-bottom: 20px;
}
.send_message {
  padding: 13px 61px;
  font-size: 17px;
  font-weight: 700;
  background-color: #ed2d2d;;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  vertical-align: middle;
}
.footer {
  background-color: #f2f2f2;;
  padding: 52px;
  width: 100%;
  bottom: 0;
}
.send_message:before {
  width: 25%;
  height: 80px;
  background: #d52828;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
  display: none;
}
.send_message:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 25%;
  height: 80px;
  transition: 0.5s;
  z-index: -1;
  background: #d52828;
  display: none;
}
.send_message:hover:after {
  display: block;
}
.send_message:hover:before {
  display: block;
}
.btn_span {
  vertical-align: top;
  top: auto;
  bottom: 0;
  left: 25%
}
.in_footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.location_number {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.fa-map-marker-alt {
  color: #ed2d2d;
  font-size: 18px;
  margin-right: 7px;
}
.footer_addres_txt {
  color: #000;
  font-size: 17px;
}
.footer_addres_txt:hover {
  color: #ed2d2d;
}
.addres_link:hover {
  text-decoration: none;
}
.phone_link:hover {
  text-decoration: none;
}
.fa-map-marker-alt:hover {
  color: #007bff;
}
.socila_icons {
  list-style: none;
  display: flex;
}
.icon_css {
  font-size: 24px;
  color: #bebebe;
  margin: 0 20px;
}
.copyrigth {
  color: #bebebe;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.room_photos, .service_images, .in_footer, .location_number {
  flex-direction: column;
}
.header_part {
  height: unset;
}
.logo_part_title {
  font-size: 14px;
  line-height: 11px;
  margin-top: 3px;
}
.logo_part_txt {
  font-size: 6px;
}
.main {
  top: 72px;
}
.pricing {
  right: 4px;
}
.in_menu_contain li {
  margin: unset;
}
.in_menu_contain li a {
  font-size: 9px;
  padding: 2px;
}
.user {
  padding: 0;
}
.in_menu_contain li a {
  font-size: 6px;
  line-height: unset;
}
.fa, .fas  {
  font-size: 7px;
}
.location_part {
  width: 68px;
  margin-right: 5px;
}
.more_info {
  top: 53px;
  height: 33px;
}
.loc_part {
  padding: 3px;
  font-size: 11px;
}
.search_btn {
  padding: 3px 5px;
  font-size: 11px;
}
.service_part_container {
  max-width: 320px;
}
.img_txt {
  padding: 0 23px;
}
.in_img_title, .in_img_title_2 {
  font-size: 13px;
  margin-top: -21px;
}
.in_first_div {
  width: 45px;
  height: 37px;
  top: -43%;
}
.new_appart {
  padding: 0 8px;
  margin-top: unset;
}
.number_of_div {
  font-size: 14px;
}
.Advantages {
  font-size: 17px;
  margin: 18px 0 56px;
}
.new_appart_txt {
  font-size: 8px;
}
.new-port-fix, .bizunes_rooms {
  width: 100%;
  margin: 0 6px;
}
.input-design {
  min-height: 33px;
  font-size: 14px;
  padding: 5px;
}
.send_message {
  padding: 7px 18px;
  font-size: 13px;
}
.footer_addres_txt {
  font-size: 12px;
}
.icon_css {
  font-size: 16px;
}
.contact_title {
  font-size: 20px;
}
.left_arrow  {
  padding: 8px 13px;
  width: 32px;
}
.rigth_arrow {
  padding: 9px 13px;
  right: -16px;
  width: 32px;
}
.selct_txt {
  padding: 3px 2px;
  font-size: 11px;
}
.proparty {
  margin-right: 3px;
}
.form_part {
  width: 50px;
}
.room_pricing_contain {
  max-width: 320px;
}
.recommended_title  {
  font-size: 25px;
  margin: 25px 0;
}
.new-port-fix, .bizunes_rooms {
  width: 100%;
  margin: unset;
}
.new-port-fix {
  margin-bottom: 10px;
}
.bizunes_rooms {
  padding: 10px;  
}
.paralax_material {
  max-width: 320px;
}
.footer {
  padding: 30px;
}
.in_footer {
  max-width: 320px;
  align-items: center;
}
.location_number {
  padding: unset;
  width: 100%;
  margin-bottom: 20px;
}
}
@media screen and (min-width: 768px)and (max-width: 1023px) {

}

